on: push
name: Deploy website
jobs:
  web-deploy:
    name:  Deploy
    runs-on: ubuntu-latest    
    steps:
    - name:  Get latest code
      uses: actions/checkout@v3
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        target-server:  ${{ secrets.FTP_SERVER }}
        remote-user: ${{ secrets.FTP_USERNAME }}
        private-ssh-key: ${{ secrets.FTP_PASSWORD }}
        destination-path: ${{ secrets.FTP_DESTINATION }}
